@media only screen and (max-width:828px) {
    /* For IPhoneXR: */
    html body {
        background-image: url(/Image/Mobile/1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    html body center#score {
        margin-top: 20%;
    }
}

body {
    background-image: url(/Image/Desktop/50.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

canvas {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #bbada0;
}

#score {
    font: bold 50px Arial, Microsoft Yahei;
}