@media only screen and (max-width:828px) {
    /* For IPhoneXR: */
    input#pswd {
    padding: 36px 20px;
    font-size: 24px;
  }
  input[type=button] {
    font-size: 36px;
  }

  form {
    margin-top: 50%;
  }
}

/* Bordered form */
form {
    font-size: xxx-large;
    height: 100%;
    width: 100%;
    margin-top: 15%;
  }
  
  /* Full-width inputs */
  input[type=password] {
    margin: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  input[type=button]:hover {
    opacity: 0.8;
  }
