@media only screen and (max-width:828px) {
    /* For IPhoneXR: */
    html body {
        background-image: url(/Image/Mobile/QLHaiDi.jpeg);
    }
    body ul#playlist {
        font-size: 100%;
        width: auto;
        height: 250px;
        overflow: scroll;
    }
    body div#goCenter {
        margin-left: 0%;
    }
    /*#btn img {
        width: 25px;
        height: 25px;
    }*/
}


/*audio {
    display: none;
}*/

body {
    /*img can be: 11,23,26,40,42,58*/
    background-image: url(/Image/Desktop/58.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: aqua;
    background-color: transparent;
    text-decoration: underline;
}


/* Hide scrollbar for Chrome, Safari and Opera */

ul#playlist-webkit-scrollbar {
    display: none;
}

ul#playlist {
    font-size: 150%;
    width: 25%;
    height: 480px;
    overflow: auto;
    -ms-overflow-style: none;
    /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    list-style-type: none;
}

div#goCenter {
    margin-left: 40%;
}


/*#btn {
    height: 50px;
    width: 50px;
    border-radius: 10%;
}
*/

#btn img {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    position: relative;
}

#btn:hover {
    color: rgb(117, 117, 117);
}